@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 185, 214);
}


.logo-tipo {
    margin: 2rem;
    max-width: 100px;
}

.title1 {
    margin: 2rem;
    max-width: 100%;
    height: auto;
    font-size: 10px;
    color: white;
}

.container-text {
    display: flex;
    margin: 6rem;
    height: 48%;
    width: 800px;
    padding-bottom: 10%;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #838383cb;
    background-color: rgb(255, 179, 205);
}

textarea {
    resize: vertical;
    color: #838383;
    border-style: double;
}

textarea::placeholder{
    text-align: center;
}

.subtitle1 {
    color: white;
}

button {
    background: none;
    border: none;
    box-shadow: none;
    color: #ffffff; 
    padding: 10px 32px; 
    text-align: center; 
    display: flex;
    font-size: 14px;
    margin: 4px 2px; 
    margin: 0 15px;
}

.textarea-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subtitle1, textarea, .options {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.container-diary {
    display: flex;
    margin: 2rem;
    width: 800px;
    height: 521px;
    padding: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #838383cb;
    background-color: rgb(255, 179, 205);
}

.subtitle2 {
    color: #ffffff;
    font-size: 18px;
}

.table-options {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: 200px;
    background-color: #ffffff;
    overflow: scroll;
    overflow-x: hidden;
}

.table-options {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;
    background-color: white;
}

.table {
    table-layout: fixed;
    width: 600px;
    height: 60px;
    border-collapse: collapse;
    border-style: solid;
    border-color: #ffc7e7;

}

th, td {
    border: 1px solid rgb(255, 92, 182);
    color: #ff7db8;
    background-color: #ffffff;
    padding: 15px;
    text-align: left;
    font-size: 14px;
}

td{
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .container-text  {
        width: 80%;
    }
    button{
        margin: 0;
        font-size: 13px;
    }
    textarea{
        width: 90%;
    }

    
    .container-diary {
 
    width: 283px;
    height: 496px;
    padding: 3px;
  

}

    .table{
        width: 260px;
        
        overflow: auto;
    }

}